<EditForm Model="Pelicula" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Título:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Titulo" />
            <ValidationMessage For="@(() => Pelicula.Titulo)" />
        </div>
    </div>

    <div class="mb-3">
        <label>En cartelera:</label>
        <div>
            <InputCheckbox class="form-check" @bind-Value="@Pelicula.EnCartelera" />
            <ValidationMessage For="@(() => Pelicula.EnCartelera)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Fecha Lanzamiento:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Pelicula.Lanzamiento" />
            <ValidationMessage For="@(() => Pelicula.Lanzamiento)" />
        </div>
    </div>

    <div class="mb-3">
        <InputImg Label="Poster" ImagenSeleccionada="ImagenSeleccionada" ImagenURL="@imagenURL" />
    </div>

    <div class="mb-3 form-markdown">
        <InputMarkdown @bind-Value="@Pelicula.Resumen"
                       For=@(() => Pelicula.Resumen)
                       Label="Resumen" />
    </div>

    <div class="mb-3">
        <label>Géneros</label>
        <div>
            <SelectorMultiple NoSeleccionados="NoSeleccionados" Seleccionados="Seleccionados"></SelectorMultiple>
        </div>
    </div>


    <div class="mb-3">
        <label>Actores:</label>
        <div>
            <SelectorMultipleTypeHead Context="Actor" SearchMethod="BuscarActores" ElementosSeleccionados="ActoresSeleccionados">
                <MyListTamplete>
                    @Actor.Nombre
                </MyListTamplete>
                <MyResultTamplete>
                    <img style="width:50px" src="@Actor.Foto" /> 
                    @Actor.Nombre
                </MyResultTamplete>
                
            </SelectorMultipleTypeHead>
        </div>
    </div>

    <button class="btn btn-success">Guardar Cambios</button>

</EditForm>

@code {

    string? imagenURL;

    [Parameter]
    [EditorRequired]
    public Pelicula Pelicula { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public List<Genero> GenerosSeleccionados { get; set; } = new List<Genero>();

    [Parameter]
    [EditorRequired]
    public List<Genero> GenerosNoSeleccionados { get; set; } = new List<Genero>();

    [Parameter]
    public List<Actor> ActoresSeleccionados { get; set; } = new List<Actor>();

    private List<SelectorMultipleModel> Seleccionados { get; set; } = new List<SelectorMultipleModel>();

    private List<SelectorMultipleModel> NoSeleccionados { get; set; } = new List<SelectorMultipleModel>();

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Pelicula.Poster))
        {
            imagenURL = Pelicula.Poster;
            Pelicula.Poster = null;
        }

        Seleccionados = GenerosSeleccionados.Select(x => new SelectorMultipleModel(x.Id.ToString(), x.Nombre)).ToList();

        NoSeleccionados = GenerosNoSeleccionados.Select(x => new SelectorMultipleModel(x.Id.ToString(), x.Nombre)).ToList();
    }

    private void ImagenSeleccionada(string imagenBase64)
    {
        Pelicula.Poster = imagenBase64;
        imagenURL = null;
    }

    private async Task<IEnumerable<Actor>> BuscarActores(string searchText)
    {
        return new List<Actor>()
        {
            new Actor() {Id = 1, Nombre= "Tom Holland", Foto = "https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.latercera.com%2Fresizer%2FLv1ZJ2RxxMB41puL6s-MzNCUPmc%3D%2F900x600%2Fsmart%2Fcloudfront-us-east-1.images.arcpublishing.com%2Fcopesa%2FNN5RYASU7VFZFK5ECHJA2QKEYQ.jpg&tbnid=9I95UuZYawkBjM&vet=12ahUKEwil4fjC-OiAAxX0SjABHdW5A2oQMygJegUIARCIAQ..i&imgrefurl=https%3A%2F%2Fwww.latercera.com%2Fmouse%2Ftom-holland-una-parte-de-mi-quiere-alejarse-de-spider-man%2F&docid=t7PLmagW60c-eM&w=900&h=600&q=tom%20holland&ved=2ahUKEwil4fjC-OiAAxX0SjABHdW5A2oQMygJegUIARCIAQ"},
            new Actor() {Id = 2, Nombre = "Tom Hanks", Foto = "https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fa%2Fa9%2FTom_Hanks_TIFF_2019.jpg&tbnid=-74i5MslWC9LUM&vet=12ahUKEwim3PGZ-OiAAxWwSDABHcm0ABQQMygCegQIARA3..i&imgrefurl=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FTom_Hanks&docid=JaCp6FOSsttsAM&w=1035&h=1440&q=tom%20hanks&ved=2ahUKEwim3PGZ-OiAAxWwSDABHcm0ABQQMygCegQIARA3"}  
        };
    }

}
